h1 {
	color:black;
	text-align:center;
	font-size:18pt;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, Serif;
}

div {
  width: auto;
  padding: 10px;
  background-color: #D3D3D3;
  border: 1px solid black;
  margin: 20px;
  font-size: 100%
}

div#container1 {
  float: left;
  position: relative;
}

div#container2 {
  float: left;
  position: relative;
}

div#container3 {
  float: left;
  position: relative;
}

#p1 {
	background-color: pink;
	position: absolute;
	top: 0px;
	right: 0px;
	text-align: center;
	width: auto;
	border: 1px solid black; 
	font-size:120%;
}

#p2 {
	background-color: red;
	position: absolute;
	top: 0px;
	right: 0px;
	text-align: center;
	width: auto;
	border: 1px solid black;  
	font-size:120%;
}

#p3 {
	background-color: yellow;
	position: absolute;
	top: 0px;
	right: 0px;
	text-align: center;
	width: auto;
	border: 1px solid black;  
	font-size:120%;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  div {
    width: 30%;
    margin: 1%;
  }
}


/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  div {
    width: 45%;
    margin-right: : auto;
    margin-left: auto;
  }

  div#container3 {
  width: 90%;
  margin: auto;
  }
}





