<div class="container">
<button
  ng-click="reg.getUser()">Get My Info</button>
 <br>
 <div id="info" ng-if="reg.OK">
 <br>
   <ul>
    <li> First Name: {{ reg.info.firstname}} </li>
    <li> Last Name: {{ reg.info.lastname}} </li>
    <li> Email: {{ reg.info.email}} </li>
    <li> Phone: {{ reg.info.phone }} </li>
   </ul> 
   
     <h3>Favourite Dish: {{reg.info.favName}}</h3>
      <img class="img-responsive" width="250" height="150" ng-src="https://gconran-course5.herokuapp.com/images/{{reg.info.fav}}.jpg" alt="{{reg.info.name}}"
      <p class="menu-item-details">{{reg.info.favDescription}}</p>      
 </div>   

 <div id="info" ng-if="reg.Info==false">
   Not Signed Up Yet. Sign up Now!
 </div>  
</div>    



